@import "../../styles/variables.scss";

.app-section__button {
    cursor: pointer;
    margin: 5px 0;
    width: 130px;
    height: 40px;
    background-color: $bg-color;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: white;
    transition: background-color 0.5s;

    &:hover {
        background-color: $hover-color;
    }
}

#back-button {
    align-self: center;
    margin-top: auto;
    margin-bottom: 30px;

    span {
        margin-right: 10px;
    }
}

#nav-hamburger {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 245px;
    top: 20px;

    &:hover {
        background-color: $bg-color;
    }
}

#scroll-up-button {
    width: 40px;
    height: 40px;
    background-color: #222935;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 75px;
    margin-bottom: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 550px) {
    #nav-hamburger{
        left: 80px;
    }

    #back-button {
        width: 40px;
        white-space: nowrap;
        overflow: hidden;

        span {
            margin-left: 10px;
            margin-right: 15px;
        }
    }
}