@import "normalize.css";
@import "variables";

*, html {
    scroll-behavior: smooth !important;
}

body {
    height: 100%;
    font-family: $font-main;
}

#root {
    display: flex;
}

#main-home {
    height: 100vh;
    background: url(../assets/home-bg.jpg) no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#main-inner {
    transition: margin-left 0.5s;
    height: 100vh;
    overflow-y: scroll;

    &.nav-hide {
        flex: none;
        width: 95%;
        overflow-y: unset;
        margin-left: -250px;
    }
}

@media only screen and (max-width: 550px) {
    #main-inner {
        &.nav-hide {
            margin-left: -85px;

            width: 90%;
        }
    }
}