@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

$font-main: 'Open Sans';

$bg-color: #222935;
$box-title-color: #26C17E;
$nav-link-color: #667081;
$hover-color: #26C17E;
$info-bg-color: #EEEEEE; 