@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url("normalize.css");

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: 'Open Sans';
}

#root {
    display: flex;
}

#main-home {
    height: 100vh;
    background: url(./assets/home-bg.jpg) no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#main-inner {
    transition: all 0.5s;
}

#main-inner.nav-hide {
    flex: none;
    width: 100%;
    transform: translateX(-250px);
}

nav {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #222935;
    flex-shrink: 0;
    transition: all 0.5s;
    margin-right: 40px;
}

nav.nav-hide {
    transform: translateX(-250px);
}

.app-section__panel--user {
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.app-section__panel--user img {
    width: 120px;
}

.app-section__panel--user h3 {
    margin-top: 5px;
}

.nav-links-container {
    display: flex;
    flex-direction: column;
}

.nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: #667081;
    padding: 30px 0;
}

.nav-link svg {
    margin-right: 20px;
}

.active {
    color: #26C17E;
}

#back-button {
    align-self: center;
    margin-top: auto;
    margin-bottom: 30px;
}

#back-button span {
    margin-right: 10px;
}

#nav-hamburger {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 245px;
    top: 20px;
}

#nav-hamburger:hover {
    background-color: #222935;
}

.user-content {
    color: white;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: width 0.2s;
}

.home-user-avi {
    border-radius: 50%;
}

.home-user-avi,
.user-content h1,
.user-content h2,
.home-desc {
    margin: 5px 0;
}

.app-section__button {
    cursor: pointer;
    margin: 5px 0;
    width: 130px;
    height: 40px;
    background-color: #222935;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: white;
    transition: background-color 0.5s;
}

.app-section__button:hover {
    background-color: #26c17e;
}

.app-section__info-box {
    width: 95%;
}

.app-section__info-box h2 {
    color: #26C17E;
    margin-bottom: 40px;
}

.app-section__timeline {
    height: 30vh;
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 15px;
}

.app-section__timeline ul {
    list-style: none;
    padding: 0;
}

.app-section__timeline li {
    display: flex;
}

.app-section__timeline-list-date {
    font-weight: 700;
    margin-right: 35px;
    margin-top: 15px;
}

.app-section__timeline-list-event h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.app-section__expertise-list ul {
    margin: 0;
    padding: 0;
}

.app-section__expertise-list li {
    display: flex;
    margin-bottom: 30px;
}

.app-section__expertise-list h3 {
    margin-bottom: 5px;
}

.app-section__expertise-list-date {
    width: 85px;
    margin-right: 30px;
}

.app-section__expertise-list-date span {
    color: #667081;
}

.app-section__filter-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.app-section__portfolio-cards {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-elem {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 308px;
    height: 190px;
    overflow: hidden;
}

.portfolio-info {
    width: 280px;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #DDDDDD;
    padding: 13px;
}

.portfolio-info h3 {
    margin-top: 5px;
}

.portfolio-info h3,
.portfolio-info p {
    margin-bottom: 10px;
}

.portfolio-info h3,
.portfolio-info a {
    color: #26C17E;
}

.portfolio-elem:hover .portfolio-info {
    transform: translateY(-101%);
    opacity: 1;
}

.app-section__info {
    background-color: #EEEEEE;
    padding: 15px;
    margin-bottom: 20px;
}

.app-section__address dl {
    display: flex;
    gap: 20px;
    font-style: normal;
    margin-bottom: 20px;
}

.app-section__address dt {
    color: #26C17E;
}

.app-section__address dd {
    font-size: 16px;
    margin-left: 0;
}

.app-section__address dd a {
    color: black;
    text-decoration: none;
    transition: all 0.5s;
}

.app-section__address dd a:hover {
    color: #26C17E;
    text-decoration: underline;
}

.app-section__feedback ul {
    list-style: none;
    padding: 0;
}

.app-section__feedback ul li {
    margin-bottom: 40px;
}

.app-section__feedback-reporter {
    display: flex;
    align-items: center;
    gap: 20px;
}

.app-section__feedback-reporter cite {
    font-style: normal;
}

.app-section__feedback-reporter a {
    text-decoration: none;
    color: #26C17E;
}

#scroll-up-button {
    width: 40px;
    height: 40px;
    background-color: #222935;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 75px;
    margin-bottom: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 550px) {
    .user-content {
        width: 300px;
        transition: width 0.2s;
    }

    nav {
        width: 85px;
        transition: all 0.5s;
    }

    nav.nav-hide {
        transform: translateX(-85px);
    }

    #main-inner.nav-hide {
        transform: translateX(-85px);
        width: 90%;
    }

    #nav-hamburger{
        left: 80px;
    }

    .nav-links a {
        white-space: nowrap;
        overflow: hidden;
    }

    .nav-links a svg {
        margin-left: 15px;
        margin-right: 36px;
    }

    #back-button {
        width: 40px;
        white-space: nowrap;
        overflow: hidden;
    }

    #back-button span {
        margin-left: 10px;
        margin-right: 15px;
    }

    .app-section__panel--user {
        font-size: 0;
    }

    .app-section__panel--user img {
        width: 65px;
    }
}